<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

    <style>
        #app {
            display: block;
            width: 80%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <main id="app">
        
        <h1>Todolists</h1>
        <br>
        <div class="d-flex">
            <input type="text" v-model='todo' v-on:change="asignNewTodo($event)" placeholder="input a new task">
            <button v-on:click="createTodo()">Create</button>
        </div>
        <br>
        <div v-for="list in todolists">
            <p>{{list.description}}</p>
            <input type="checkbox" v-on:change="markTodoHasFinished($event, list)" v-model="list.is_finished">
        </div>
        <br>
        
    </main>
</body>

<script>
    var self;
    var app = new Vue({
        el: '#app',
        data() {
            self = this;
            return {
                todolists: JSON.parse('<%- data %>'),
                todo: ''
            }   
        },
        computed: {
        },
        methods: {
            asignNewTodo: (event) => {
                self.todo = event.target.value;
            },
            createTodo: async () => {
                if(self.todo == undefined) return alert('Input cannot be empty');

                try {
                    const body = {
                        description: self.todo
                    };

                    const res = await fetch('/todolist', { body: JSON.stringify(body), method: 'POST', headers: {'content-type': 'application/json'}});
                    const data = await res.json();
                    self.todolists.push(data);
                } catch(e) {    
                    console.log(e);
                } 
            }, 
            markTodoHasFinished: async(event,list) => {
                if(event.target.checked) {
                    try {
                        list.is_finished = true;
                        list.finished_at = new Date(Date.now())
                        const res = await fetch(`/todolist/${list._id}`, { body: JSON.stringify(list), method: 'PATCH', headers: {'content-type': 'application/json'} });
                        const data = await res.json(); 
                        
                        self.todolists.map((todo, index) => {
                            if(todo._id == list._id ) {
                                self.todolists.splice(index, 1);
                            }
                        })
                    } catch(e) {
                        console.log(e);
                    }
                }
            }
        }
    })
</script>
</html>